body
{
background-image: linear-gradient(to bottom,#ff0047,#ee82ee);
font-weight:bold;
}
h1
{
letter-spacing:3px;
font-family:Cursive;
color:#3cb371;
text-shadow: 0 0 13px #ffffff, 0 0 19px #ffa500;
background-color:#000000;
}
label
{
background-color:#00aaff;
color:#ffa500
}
input
{
border-width:4px;color:#ff0000;border-style:groove;border-color:blue;border-radius:20px;
}
option
{
background-color:#e8ff00;
}
      